

<header>
    <mat-icon> homeButton</mat-icon>
    <button (click)="toggleMenu()">Home</button>
    <div id="rightButtons">
      
      <button id="button1">Settings</button>
      <mat-icon>build</mat-icon>
      <button id="button2">help</button>
      <mat-icon>help</mat-icon>
      <button id="button3">Go-Foreward</button>
      <mat-icon> navigate_next</mat-icon>
      
      
    </div>

    <div class = "homeButton" (click) = "toggleMenu()"></div>
    
    <div class = "Menu" *ngIf="showMenu">
        <nav>
          <ul>
            <li><button id="button1">Act 1</button> </li>
              <li><button id="button2">Act 2</button></li>
              <li><button id="button3">Act 3</button></li>
              <li><button id="button4">Act </button></li>
          </ul>
        </nav>
    </div>
  </header>
