header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #2912dc;
    
  }
  #homeButton{
    display: flex;
    text-align: left;
    margin-top: 10px;
    margin-right: auto;
  }
  #rightButtons {
    display: flex;
    text-align: right;
    margin-top: 10px;
    margin-left: auto;
  }
  
  button {
    margin: 0 5px;
    padding: 5px 10px;
      background-color: #3498db;
      color: #fff;
      padding: 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }
  

  .Menu{
    position: absolute;
    top: 100%; /* Position the menu below the Home button */
    right: 0;
    display: none;
    background-color: #333;
    color: rgb(92, 87, 87);
    padding: 10px;
    border-radius: 5px;
  }
  
  .Menu.show {
    display: block;
  }
 

  .icon {
    margin-right: 8px; /* Adjust the value as needed */
  }

  #rightIcons mat-icon:last-child {
    margin-left: 0; /* Remove margin from the last icon to prevent extra spacing */
  }

  