

<header>
    <button (click)="toggleMenu()">Home</button>
    <div id="rightButtons">
      
      <button id="button1">Act 1</button>
      
      <button id="button2">Act 2</button>
     
      <button id="button3">Act 3</button>
     
      <button id="button4">Act 4</button>
      
    </div>

    <div class = "homeButton" (click) = "toggleMenu()"></div>
    
    <div class = "Menu" *ngIf="showMenu">
        <nav>
          <ul>
            <li><button id="button1">Act 1</button> </li>
              <li><button id="button2">Act 2</button></li>
              <li><button id="button3">Act 3</button></li>
              <li><button id="button4">Act </button></li>
          </ul>
        </nav>
    </div>
  </header>
