#footerBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; /* Adjust padding as needed */
  background-color: blue;
}

#leftIcons{
  display: flex;
  gap: 10px;
}
#rightIcons {
  display: flex;
  gap: 10px;
}
#leftIcons mat-icon {
  margin-left: 10px; /* Adjust the value as needed for horizontal spacing */
}

#leftIcons mat-icon:last-child {
  margin-right: 0; /* Remove margin from the last icon to prevent extra spacing */
}

#leftIcons mat-icon:not(:last-child) {
  margin-left: 10px; /* Adjust the value as needed for horizontal spacing */
}

#leftIcons mat-icon:last-child {
  margin-left: 0; /* Remove margin from the last icon to prevent extra spacing */
}
#rightIcons mat-icon {
  margin-right: 10px; /* Adjust the value as needed for horizontal spacing */
}

#rightIcons mat-icon:last-child {
  margin-left: 0; /* Remove margin from the last icon to prevent extra spacing */
}

#rightIcons mat-icon:not(:last-child) {
  margin-right: 10px; /* Adjust the value as needed for horizontal spacing */
}

#rightIcons mat-icon:last-child {
  margin-right: 0; /* Remove margin from the last icon to prevent extra spacing */
}

