<footer>
    <div id="footerBar">
      <div id="leftIcons">
        <mat-icon>camera_alt</mat-icon>
        <!--<button id="back">back</button> -->
        <mat-icon> facebook</mat-icon>
        <!--<button id="forward">Forward</button>-->
      </div>
      
      <div id="centerText">
        &copy; Creations
      </div>

      <div id="rightIcons">
        
        <!--<button id="back">facebook</button> -->
        
        <mat-icon>phone</mat-icon>
        <!--<button id="back">linkedIN</button> -->
       <!-- <mat-icon>github</mat-icon>
       <button id="back">google</button> -->
       <mat-icon> email</mat-icon>
      </div>

      
    </div>
    

  </footer>
