/* You can add global styles to this file, and also import other style files */
  /* styles.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('C:/Users/ramsa/OneDrive/Desktop/Angularapp/myFirstProject/src/assets/Lighhouse.jpg') center/cover fixed;
  }
  
  .overlay {
    background-color: rgba(255, 255, 255, 0.7); /* Adjust the alpha value for transparency */
    backdrop-filter: blur(10px); /* Adjust the blur value for the desired effect */
  }
  
  .header, .footer {
    padding: 20px;
    text-align: center;
    color: white;
  }
  
  .header {
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value for transparency */
  }
  
  .footer {
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value for transparency */
  }
  