<!-- app.component.html -->

<div class="menu-container">
  <div id="LeftMeunBar" class="left-menu">
    <div id="leftmenuinnerinner">
      <h1>Menu 1</h1>
      <div class="menu-options">
        <a target="_top" href="#">Option 1</a> <br>
        <a target="_top" href="#">Option 2</a> <br>
        <a target="_top" href="#">Option 3</a> <br>
      </div>
    </div>

    <div id="leftmenuinnerinner-bottom">
      <h1>Menu 3</h1>
      <div class="menu-options">
        <a target="_top" href="#">Option 1</a> <br>
        <a target="_top" href="#">Option 2</a> <br>
        <a target="_top" href="#">Option 3</a> <br>
      </div>
    </div>
  </div>

  <div id="RightMenuBar" class="right-menu">
    <div id="rightmenuinnerinner">
      <h1>Menu 2</h1>
      <div class="menu-options">
        <a target="_top" href="#">Option 1</a> <br>
        <a target="_top" href="#">Option 2</a> <br>
        <a target="_top" href="#">Option 3</a> <br>
      </div>
    </div>

    <div id="rightmenuinnerinner-bottom">
      <h1>Menu 4</h1>
      <div class="menu-options">
        <a target="_top" href="#">Option 1</a> <br>
        <a target="_top" href="#">Option 2</a> <br>
        <a target="_top" href="#">Option 3</a> <br>
      </div>
    </div>
  </div>
</div>
