<!-- app.component.html -->

<div class="main-content">
  <div class="menu-container">
    <div class="left-menu">
      <div id="leftmenuinnerinner1">
        <h1>Menu L1</h1>
        <div class="menu-options">
          <a target="_top" href="#">Breakfast</a> <br>
          <a target="_top" href="#">Transportation</a> <br>
          <a target="_top" href="#">Schedules</a> <br>
          <a target="_top" href="#">Payments and offers</a> <br>
          <a target="_top" href="#">Landmarks an attractions</a> <br>
          <a target="_top" href="#">Concerns and updates</a> <br>


        </div>
      </div>

      
         
        
    </div>

    <div class="statistics-container">
      <!-- Include the statistics component here -->
      <h2>Register User</h2>
      <label for="firstName">FirstName:</label>
      <input type="text" id="firstName" name="firstName"> <br>
      <label for="lastname">LastName:</label>
      <input type="text" id="lastname" name="lastname"><br>
      <label for="email">Email:</label>
      <input type="text" id="email" name="email"><br>
      <label for="Password">Password:</label>
      <input type="password" id="Password" name="Password"><br>
      <button type="button">Submit</button>
      <!-- Add statistics content as needed -->
    </div>

    <div class="login-container">
      
      <h2>Login Component</h2>
      <label for="Username">Username</label>
      <input type ="text" id = "Username" name="Username">
      <label for="password"> Password</label>
      <input for="password" id="Password" name="Password">
      <button type="button">Submit</button>
    </div>

    <div class="right-menu">
      <div id="rightmenuinnerinner1">
        <h1>Menu R2</h1>
        <div class="menu-options">
          <a target="_top" href="#">Entertainment</a> <br>
          <a target="_top" href="#">Food and Beverage</a> <br>
          <a target="_top" href="#">Water Sports</a> <br>
          <a target="_top" href="#">Party Nights</a> <br>
          <a target="_top" href="#">Cannabis Festival</a> <br>
          <a target="_top" href="#">Shooters corner</a> <br>
        </div>
      </div>

      
         
        
    </div>
  </div>

  <div class="form-and-menu-container">
    
      
    
  </div>
</div>
