
<div id = "LeftMeunBar">
  <div id = leftmenuinnerinner> 
  <h1>Menu 1</h1>
  <a target="_top" href="#"> Module1</a> <br>
  <a target="_top" href="#"> Module2</a> <br>
  <a target="_top" href="#"> Module3</a> <br>
  <a target="_top" href="#"> Module4</a> <br>
  <a target="_top" href="#"> Module5</a> <br>
  <a target="_top" href="#"> Module6</a> <br>
  <a target="_top" href="#"> Module7</a> <br>
  <a target="_top" href="#"> Module8</a> <br>
  <a target="_top" href="#"> Module9</a> <br>
  <a target="_top" href="#"> Module10</a> <br>
</div>
</div> 

<div id="RightMenuBar">
  <div id="rightmenuinnerinner">
    <h1>Menu 2</h1>
    <a target="_top" href="#">Module 11</a> <br>
    <a target="_top" href="#">Module 12</a> <br>
    <a target="_top" href="#">Module 13</a> <br>
    <a target="_top" href="#">Module 14</a> <br>
    <a target="_top" href="#">Module 15</a> <br>
    <a target="_top" href="#">Module 16</a> <br>
    <a target="_top" href="#">Module 17</a> <br>
    <a target="_top" href="#">Module 18</a> <br>
    <a target="_top" href="#">Module 19</a> <br>
    <a target="_top" href="#">Module 20</a> <br>
  </div>
</div>